input {
  width: 320px !important;
}

input:focus {
  border-bottom: 1px solid #1A92E5 !important;
  box-shadow: 0 1px 0 0 #1A92E5 !important;
}

.container {
  padding-top: 1em;
}

.commitTime {
  font-size: .9em;
}

.commits {
  padding-top: 1em;
}

.last3 {
  font-size: 1.3em;
  color: grey;
}

.remove {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .row.valign-wrapper {
    display: inherit;
    text-align: center;
  }
  .commitTime {
    padding-bottom: 1em;
  }
}
